* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width:1600px) {

  body{
    background: #595D5D 90%;
    height: 1080px;
  }
  p {
    color: #FCF4EA;
    font-size: 20px;
    font-family: "Lucida Sans";
  }
  .toback{
    width:90;
    position: absolute;
    top: 2.5em;
    left: 2.5em;
    transition: 3s ease;
  }
  .toback:hover{
    transform: scale(1.1, 1.1);
    transform: rotate(15deg);
  }
  .rectangle1 {
    width: 39.313em;
    height: 19.5em;
    position: absolute;
    left: 77em;
    top: 4em;
    background-color: #FFF;
  }
  .imagefalco {
    position: absolute;
    width: 39.313em;
  }
  .rectangle2 img{
    position: absolute;
    width:589px;
    height:312px;
    top:753px;
    left:730px;
  }
  .rectangle3{
    position: absolute;
    width:200px;
    height:2px;
    
    top:384px;
    left:190px;
  }
  .image3 {
    position: absolute;
    width: 250px;
  }

  
  .circle{
    position: absolute;
    width:199px;
    height:215px;
    top:100px;
    left:842px;
    border-radius: 50%;
  }
  .imgcircle {
    position: absolute;
    width: 200px;
    border-radius: 100%;
  }
  .footer{
    background-color: black;
    position: absolute;
    top: 1090px;
    width: 100%;
    height: 165px;
  }
  .informative{
    font-size: 30px;
    font-family: "Lucida Sans";
    position: absolute;
    top: 26px;
    left: 50%;
  }
  .text1{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:71px;
    left:321px;
  }
  .text2{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:403px;
    left:700px;
  }
  .text3{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:600px;
    left:1335px;
  }
  .text4{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:753px;
    left:160px;
  }
  #textemobile {
    display: none;
  }
  .revealtop{
    opacity: 0;
    transform: translateY(-30px);
  }
  .reveal-visibletop{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
  }
  .revealbot{
    opacity: 0;
    transform: translateY(30px);
  }
  .reveal-visiblebot{
      opacity: 1;
      transform: translateY(0);
      transition: 2s;
  
  }
  .imageiska{
    display: none;
  }




}
@media screen and (max-width:1400px) and (min-width:1200px) {

  body{
    background: #595D5D 90%;
    height: 1300px;
  }
  p {
    color: #FCF4EA;
    font-size: 20px;
    font-family: "Lucida Sans";
    word-wrap: normal;
  }
  .toback{
    width:70;
    position: absolute;
    top: 30px;
    left: 30px;;
    transition: 0.7s ease;
  }
  .toback:hover{
    transform: scale(1.1, 1.1);
    transform: rotate(15deg);
  }
  .informative {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 567px;
  }
  .rectangle1{
    position: absolute;
    left: 306px;
    top: 1040px;
    width: 181px;
    height: 312px;
  }
  .imagefalco {
    position: absolute;
    width: 400.94px;
    
  }
  .rectangle2 img{
    position: absolute;
    background: #FFF;
    left: 746px;
    top: 565px;
    width: 589px;
    height: 312px;
  }
  .rectangle3{
    position: absolute;
    left: 190px;
    top: 384px;
    width: 294.94px;
    height: 179.82px;
    transform: rotate(140.76deg);
  }
  .image3{
    position: absolute;
    width: 220px;
    height: 312px;
  }
  .circle{
    position: absolute;
    background: #FFF;
    left: 832px;
    top: 51px;
    width: 199px;
    height: 215px;
    border-radius: 50%;
  }
  .imgcircle{
    position: absolute;
    width: 199px;
    height: 215px;
    border-radius: 50%;
  }
  .footer{
    position: absolute;
    background: #000000;
    height: 150px;
    width: 100%;
    top: 1350px;
  }
  .text1{
    position: absolute;
    word-wrap: break-word;
    width: 467px;
    height: 256px;
    top:78px;
    left:142px;
  }
  .text2{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:302px;
    left:795px;
  }
  .text3{
    position: absolute;
    word-wrap: break-word;
    width: 397px;
    height: 365px;
    top:694px;
    left:23px;
  }
  .text4{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:886px;
    left:800px;
  }
  #textemobile {
    display: none;
  }
  .revealtop{
    opacity: 0;
    transform: translateY(-30px);
  }
  .reveal-visibletop{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
  }
  .revealbot{
    opacity: 0;
    transform: translateY(10px);
  }
  .reveal-visiblebot{
      opacity: 1;
      transform: translateY(0);
      transition: 3s;
  
  }
  .imageiska{
    display: none;
  }

}
@media screen and (max-width: 1000px) {
  body{
    background: #595D5D 90%;
    height: 2800px;
  }
  p {
    color: #FCF4EA;
    font-size: 20px;
    font-family: "Lucida Sans";
    word-wrap: normal;
  }
  .toback{
    width: 60px;
    position: absolute;
    left: 20px;
    top:20px;
  }
  .informative {
    font-size: 40px;
    position: absolute;
    top: 26px;
    left: 414px;
  }
  .rectangle1{
    position: absolute;
    width: 400px;
    height: 264px;
    left: 44px;
    top: 543px;
  }
  .imagefalco{
    position: absolute;
    width: 400px;
    height: 264px;
  }
  .rectangle2mobile{
    position: absolute;

    width: 300px;
    height: 428px;
    left: 652px;
    top: 90px;
  }
  .imageiska {
    position: absolute;
    width: 300px;
    height: 428px;
  }
  .rectangle3mobile{
    position: absolute;
    background: #FFF;
    width: 400px;
    height: 264px;
    left: 552px;
    top: 543px;
  }
  
  .circle{
    position: absolute;
    width: 366px;
    height: 473px;
    left: 317px;
    top: 1984px;
    border-radius: 50%;
  }
  .imgcircle{
    position: absolute;
    width: 366px;
    height: 473px;
    border-radius: 50%;
  }
  .img-mobile{
    position: absolute;
    width: 400px;
    height: 800px;
    left: 552px;
    background: #FFF;
    top: 1143px

  }
  .footer{
    position: absolute;
    background: #000000;
    height: 400px;
    width: 100%;
    top: 2500px;
  }
  .text1{
    position: absolute;
    width: 529px;
    height: 441px;
    left: 61px;
    top: 90px;
  }
  .text2{
    position: absolute;
    width: 882px;
    height: 303px;
    left: 61px;
    top: 835px;
  }
  .text3{
    position: absolute;
    width: 400px;
    height: 358px;
    left: 61px;
    top: 1153px;
  }
  .text4{
    position: absolute;
    width: 400px;
    height: 432px;
    left: 61px;
    top: 1580px;
  }
  .revealrec2 {
    opacity: 0;
    transform: translatex(-100px);
  }
  .revealrec2-visible{
    opacity: 1;
    transform: translatex(0);
    transition: 1s;
  }
  .revealrec3 {
    opacity: 0;
    transform: translatex(120px);
  }
  .revealrec3-visible{
    opacity: 1;
    transform: translatex(0);
    transition: 1s;
  }
  .revealtop{
    opacity: 0;
    transform: translateY(-30px);
  }
  .reveal-visibletop{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
  }
  .revealbot{
    opacity: 0;
    transform: translateY(100px);
  }
  .reveal-visiblebot{
      opacity: 1;
      transform: translateY(0);
      transition: 1.5s;
  
  }
  .ordi{
    display: none;
  }

}
