* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width:1900px) {

  body{
    background: #595D5D 90%;
    height: 1255px;
  }
  p {
    color: #dbcfc0;
    font-size: 20px;
    font-family: "Lucida Sans";
  }
  .toback{
    width:90;
    position: absolute;
    top: 2.5em;
    left: 2.5em;
    transition: 3s ease;
  }
  .toback:hover{
    transform: scale(1.1, 1.1);
    transform: rotate(15deg);
  }
  .rectangle1 {
    width: 39.313em;
    height: 19.5em;
    position: absolute;
    left: 75.25em;
    top: 5.313em;
    background-color: #FFF;
  }
  .rectangle2{
    position: absolute;
    width:589px;
    height:312px;
    background-color: #FFF;
    top:753px;
    left:746px;
  }
  .rectangle3{
    position: absolute;
    width:181px;
    height:312px;
    background-color: #FFF;
    top:384px;
    left:190px;
  }
  .circle{
    position: absolute;
    width:199px;
    height:215px;
    background-color: #FFF;
    top:130px;
    left:842px;
    border-radius: 50%;
  }
  .footer{
    background-color: black;
    position: absolute;
    top: 1090px;
    width: 100%;
    height: 165px;
  }
  .informative{
    color: #dbcfc0;
    font-size: 30px;
    font-family: "Lucida Sans";
    position: absolute;
    top: 26px;
    left: 903px;
  }
  .text1{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:71px;
    left:321px;
  }
  .text2{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:403px;
    left:700px;
  }
  .text3{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:470px;
    left:1335px;
  }
  .text4{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:753px;
    left:160px;
  }
  #textemobile {
    display: none;
  }




}
@media screen and (max-width:1400px) and (min-width:1000px) {

  body{
    background: #595D5D 90%;
    height: 1500px;
  }
  p {
    color: #dbcfc0;
    font-size: 20px;
    font-family: "Lucida Sans";
    word-wrap: normal;
  }
  .toback{
    width:70;
    position: absolute;
    top: 30px;
    left: 30px;;
    transition: 0.7s ease;
  }
  .toback:hover{
    transform: scale(1.1, 1.1);
    transform: rotate(15deg);
  }
  .informative {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 567px;
  }
  .rectangle1{
    position: absolute;
    background: #FFF;
    left: 190px;
    top: 384px;
    width: 181px;
    height: 312px;
  }
  .rectangle2{
    position: absolute;
    background: #FFF;
    left: 746px;
    top: 565px;
    width: 589px;
    height: 312px;
  }
  .rectangle3{
    position: absolute;
    background: #FFF;
    left: 306px;
    top: 1070px;
    width: 294.94px;
    height: 179.82px;
    transform: rotate(140.76deg);
  }
  .circle{
    position: absolute;
    background: #FFF;
    left: 832px;
    top: 51px;
    width: 199px;
    height: 215px;
    border-radius: 50%;
  }
  .footer{
    position: absolute;
    background: #000000;
    height: 150px;
    width: 100%;
    top: 1350px;
  }
  .text1{
    position: absolute;
    word-wrap: break-word;
    width: 467px;
    height: 256px;
    top:78px;
    left:142px;
  }
  .text2{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:302px;
    left:795px;
  }
  .text3{
    position: absolute;
    word-wrap: break-word;
    width: 397px;
    height: 365px;
    top:694px;
    left:23px;
  }
  .text4{
    position: absolute;
    word-wrap: break-word;
    width: 521px;
    height: 274px;
    top:886px;
    left:800px;
  }
  #textemobile {
    display: none;
  }


}
@media screen and (max-width: 1000px) {
  body{
    background: #595D5D 90%;
    height: 2800px;
    width: 414px

  }
  p {
    color: #dbcfc0;
    font-size: 20px;
    font-family: "Lucida Sans";
    word-wrap: normal;
  }
  .toback{
    width: 90px;;
    position: absolute;
    left: 20px;
    top:20px;
  }
  .informative {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 121px;
  }
  .rectangle1{
    position: absolute;
    background: #FFF;
    left: 163px;
    top: 110px;
    width: 223px;
    height: 243px;
  }
  .rectangle2{
    position: absolute;
    background: #FFF;
    left: 20px;
    top: 668px;
    width: 316px;
    height: 126px;
  }
  .rectangle3{
    position: absolute;
    background: #FFF;
    left: 239px;
    top: 1146px;
    width: 147px;
    height: 370px;
  }
  .circle{
    position: absolute;
    background: #FFF;
    left: 20px;
    top: 1977px;
    width: 366px;
    height: 473px;
    border-radius: 50%;
  }
  .footer{
    position: absolute;
    background: #000000;
    height: 400px;
    width: 100%;
    top: 2500px;
  }
  .text1, .text2, .text3, .text4{
    display: none;
  }
  #texte{
    display: none;
  }



}
