* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width:1900px) {

  body {
    background-color: #E1D1DC;
  }

  div button img{
    width: 600px;
  }
  div a img {
    width: 600px;
  }
  button:focus {
    border: none;
    background: none;
    outline: none;
  }
  button {
    transition: 0.7s;
    cursor: pointer;
  }
  .menu-button{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 5%;
  }

  .button1, .button2 {
    padding: 0;
    border: none;
    background: none;
  }
  .button1 {
    transition: 0.3s ease;
  }
  .button2 {
    padding-left: 4em;
  }

  .popup {
    display: none;
  }


  .button1:hover{
    transform: scale(1.1,1.1);

  }
  .button2:hover {
    transform: scale(1.1,1.1);
  }
  .popup {
    background: rgba(225, 209, 220, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    transition: 0.7s ease;
  }
  .popup-content {
    height: 550px;
    width: 940px;
    top: 8em;
    padding-top: 10em;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .video-closer {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 6px 29px rgba(0,0,0,0.75);
  }
  .video-closer:hover {
    transform: scale(1.1,1.1);
    transition: 0.3s ease;
  }
  .info-page {
    display: none;
    width: 100%;
    height: 100%;
  }
  .back-button {
    display: flex;
    width: 80px;
    height: 80px;
    transform: rotate(12deg);
    padding-left: 20px;
    padding-top: 20px;
  }
  .back-button:hover {
    transform: scale(1,1);
    transition: 0.2s ease;
  }
  .text1,.text2 {
    background-color: #1e5704;
    width: 100px;
    height: 100px;
    padding-left: 5%;
    padding-top: 20%;

  }
}

@media screen and (max-width:1400px) {

  body {
    background-color: #E1D1DC;
  }

  div button img{
    max-width: 400px;
  }
  div a img {
    max-width: 400px;

  }
  a {
    transition: 0.7s;
    cursor: pointer;
    text-decoration: none;
  }
  button:focus {
    border: none;
    background: none;
    outline: none;
  }
  button {
    transition: 0.3s ease;
    cursor: pointer;
  }
  .menu-button{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 5%;
  }
  .button1 {
    transition: 0.3s ease;
  }
  .button1, .button2 {
    padding: 0;
    border: none;
    background: none;
  }

  .button2 {
    padding-left: 2em;
  }

  .popup {
    display: none;
  }


  .button1:hover{
    transform: scale(1.1,1.1);
  }
  .button2:hover {
    transform: scale(1.1,1.1);
  }
  .popup {
    background: rgba(225, 209, 220, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    transition: 0.7s ease;
  }
  .popup-content {
    height: 550px;
    width: 940px;
    top: 8em;
    padding-top: 10em;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .video-closer {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 6px 29px rgba(0,0,0,0.75);
  }
  .video-closer:hover {
    transform: scale(1.1,1.1);
    transition: 0.3s ease;
  }
  .info-page {
    display: none;
    width: 100%;
    height: 100%;
  }
  .back-button {
    display: flex;
    width: 80px;
    height: 80px;
    transform: rotate(12deg);
    padding-left: 20px;
    padding-top: 20px;
  }
  .back-button:hover {
    transform: scale(1,1);
    transition: 0.2s ease;
  }
  .text1,.text2 {
    background-color: #1e5704;
    width: 100px;
    height: 100px;
    padding-left: 5%;
    padding-top: 20%;

  }
}
@media screen and (max-width:1000px) {

  body {
    background-color: #E1D1DC;
  }

  div button img{
    max-width: 400px;
  }
  div a img {
    max-width: 400px;

  }
  a {
    transition: 0.7s;
    cursor: pointer;
    text-decoration: none;
  }
  button:focus {
    border: none;
    background: none;
    outline: none;
  }
  button {
    transition: 0.3s ease;
    cursor: pointer;
  }
  .menu-button{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 5%;
  }
  .button1 {
    transition: 0.3s ease;
  }
  .button1, .button2 {
    padding: 0;
    border: none;
    background: none;
  }

  .button2 {
    padding-left: 2em;
  }

  .popup {
    display: none;
  }


  .button1{
    transform: scale(1.1,1.1);
  }
  .button2 {
    transform: scale(1.1,1.1);
  }
  .popup {
    background: rgba(225, 209, 220, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    transition: 0.7s ease;
  }
  .popup-content {
    height: 550px;
    width: 940px;
    top: 8em;
    padding-top: 10em;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  .video-closer {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 6px 6px 29px rgba(0,0,0,0.75);
  }
  .video-closer {
    transform: scale(1.1,1.1);
    transition: 0.3s ease;
  }
  .info-page {
    display: none;
    width: 100%;
    height: 100%;
  }
  .back-button {
    display: flex;
    width: 80px;
    height: 80px;
    transform: rotate(12deg);
    padding-left: 20px;
    padding-top: 20px;
  }
  .back-button:hover {
    transform: scale(1,1);
    transition: 0.2s ease;
  }
  .text1,.text2 {
    background-color: #1e5704;
    width: 100px;
    height: 100px;
    padding-left: 5%;
    padding-top: 20%;

  }
}